body{
    background-color: #794524;
    color: rgba(227, 224, 192, 1);
    /*background-attachment: fixed;*/
}
h1,h2,h3 {
     font-family: "Irish Grover", system-ui;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.8em;
}
.hero-para{
    font-size: 1.8em;
}
p{
    font-family: "Jacques Francois", serif;
    font-size: 1.3em;
}
/*#mainNav{*/
/*    !*background-color: transparent;*!*/
/*    !*background-attachment: fixed;*!*/
/*    !*position: fixed;*!*/
/*    !*position: sticky;*!*/
/*    !*top: 0;*!*/
/*    !*width: 100%;*!*/
/*}*/
#heroNav{
    height: 753px;
    background-image: url("./images/HERO PIC.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /*opacity: 0.3;*/
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline;
    float: left;
    padding: 10px;
}
.links{
    float: right;
    font-size: 1.1em;
    color: #1a1d20;
    font-weight: bold;
}
.hero-sect{
    padding-top: 10rem;
}
.grey{
    color: #E3E0C0;
}
.yellow{
    color: #FBEC6C;
}