body{
    background-color: #794524;
    color: rgba(227, 224, 192, 1);
    /*background-attachment: fixed;*/
}
h1,h2,h3 {
     font-family: "Irish Grover", system-ui;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.8em;
}
.hero-para{
    font-size: 1.8em;
    padding-top: 0.7em;
}
p{
    font-family: "Jacques Francois", serif;
    font-size: 1.3em;
}
/*#mainNav{*/
/*    !*background-color: transparent;*!*/
/*    !*background-attachment: fixed;*!*/
/*    !*position: fixed;*!*/
/*    !*position: sticky;*!*/
/*    !*top: 0;*!*/
/*    !*width: 100%;*!*/
/*}*/
#heroNav{
    height: 753px;
    background-image: url("./images/HERO PIC.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /*opacity: 0.3;*/
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline;
    float: left;
    padding: 10px;
}
.links{
    float: right;
    font-size: 1.1em;
    color: #1a1d20;
    font-weight: bold;
}
.hero-sect{
    padding-top: 10rem;
}
.grey{
    color: #E3E0C0;
}
.yellow{
    color: #FBEC6C;
}
.image-k{
    object-fit: cover;
}
#second-section{
    padding-top: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-third{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /*padding-top: 1em;*/
}
.third{
    padding-left: 10em;
}
#third-section{
    padding-top: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*row-gap: 100em;*/
}
#fourth-section{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
    padding-top: 1.2em;
}
.four-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contact-section{
    padding-top: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-icons{
    width: 100%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*column-gap: 50px;*/
}
.text{
    /*padding-bottom: 30px;*/
    height: 50px;
    border-radius: 8px;
    background-color: #FBEC6C;
    color: black;
    padding-left: 30px;
    border: #FBEC6C;
}
.one{
    width: fit-content%;
    padding-top: 20px;
}
.text-area{
    border-radius: 8px;
    background-color: #FBEC6C;
    padding-left: 30px;
    border: #FBEC6C;
}
button{
    padding-top: 20px;
    border-radius: 30%;
    width: 30%;
    align-items: center;
    border: #4d3425;
    background-color: #492c1b;
}
footer{
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last-two{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    /*float: right;*/
    /*padding-right: 1em;*/
}
.privacy{
    padding-right: 40px;
}